In [69]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

load TnSeq / expression data:

In [7]:
file_data = '../data/integrated_rnaseq_tnseq_v1.csv'
df_data = pd.read_csv(file_data)
cols = df_data.columns.tolist()

In [11]:
# how many columns
len(cols)

1173

In [13]:
df_data.head(1)

,Rv_ID,Gene name,Geneid/Contrast_id,is_sdr,Function,groups,redox_enzyme,function_redox_,UK_score_4,function_sanger,...,zhang_AA_Rescue_vs_zhang_in_vitro_control_Rescue,zhang_DETA-NO_pH_7.0_vs_zhang_pH_7.0_no_NO_control,zhang_Fe_1.5mM_vs_zhang_Fe_450uM,zhang_Trp_Rescue_vs_zhang_in_vitro_control_Rescue,zhang_Tyloxapol_pH_6.5_vs_zhang_Tyloxapol_pH_4.5,zhang_Tyloxapol_pH_6.5_vs_zhang_pcit_pH_4.5,zhang_mhcii_mouse_d10_vs_zhang_wt_mouse_d10,zhang_mhcii_mouse_d45_vs_zhang_wt_mouse_d45,zhang_wt_mouse_d10_vs_zhang_input_library,zhang_wt_mouse_d45_vs_zhang_input_library
0,Rv0001,dnaA,1.0,0.0,Chromosomal replication initiator protein DnaA,0.0,0.0,NaN,0.0,chromosomal replication initiator protein,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Getting all data for a single gene:

In [198]:
file_rna_annot = '../data/experiment_annotation_master_colombos_v0.csv'
df_rna_annot = pd.read_csv(file_rna_annot)

In [75]:
cols_data = np.array(df_data.columns[11:].tolist())

In [87]:
inds_rnaseq = [i for i in range(len(cols_data)) if not 'vs' in cols_data[i]]
inds_tnseq = [i for i in range(len(cols_data)) if 'vs' in cols_data[i]]

In [89]:
def get_gene_data(rv, df_data, cols_data):
    df_rv = df_data[df_data.Rv_ID==rv]
    rv_data = df_rv[cols_data].values[0]
    return rv_data

In [201]:
rv_1 = 'Rv3400'
rv_1_data = get_gene_data(rv_1, df_data, cols_data)

rv_2 = 'Rv3410c'
rv_2_data = get_gene_data(rv_2, df_data, cols_data)

In [202]:
# "significant" RNA screens:
rv_1_inds_rnaseq_sig = [i for i in inds_rnaseq if np.abs(rv_1_data[i])>=1]
rv_2_inds_rnaseq_sig = [i for i in inds_rnaseq if np.abs(rv_2_data[i])>=1]

# "significant" TnSeq screens:
rv_1_inds_tnseq_sig = [i for i in inds_tnseq if np.abs(rv_1_data[i])==1]
rv_2_inds_tnseq_sig = [i for i in inds_tnseq if np.abs(rv_2_data[i])==1]

In [203]:
set(cols_data[rv_1_inds_rnaseq_sig]).intersection(set(cols_data[rv_2_inds_rnaseq_sig]))

{'345'}

In [205]:
set(cols_data[rv_1_inds_tnseq_sig]).intersection(set(cols_data[rv_2_inds_tnseq_sig]))

{'carey_621_vs_mbio_H37Rv', 'carey_631_vs_mbio_H37Rv'}

In [204]:
df_rna_annot.iloc[[345]]

,contrast_name,annotation,Test description,Reference description,Experiment_id,Data source,Platform
345,GSM28131.ch1-vs-GSM28131.ch2,MEDIUM.7H9:1_ETHANOL:0.2vol%_STRAIN.H37Rv:1_TE...,test_GSE1642_TRICLO100,ref_GSE1642_,GSE1642,GEO,GPL1396